<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Magic 8 ball</title>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script src="/myjs/logic.js"></script>
    </head>
    <body>
        <label>Ask a question</label>
        <input type="text" id="inpQuestion"/>
        <button id="butQuestion">Ask</button>
    </body>
</html>